# Django
SECRET_KEY=your_django_secret
DEBUG=1
ALLOWED_HOSTS=*

# Database
POSTGRES_DB=ecommerce
POSTGRES_USER=ecomuser
POSTGRES_PASSWORD=strongpassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLIC_KEY=pk_test_xxx
STRIPE_CURRENCY=usd
STRIPE_WEBHOOK_SECRET=whsec_xxx
